.box {
    border-width: 3px;
    border-color: black;
    margin-bottom : 50px;
}

.picture {
    width : 250px;
    height : 250px;
    margin-top : 50px;
    margin-left : 112px;
    margin-right : 110px;
    cursor: pointer;
}

.start {
    margin-left : 50px;
    cursor : pointer;
    background-color : #1AB394;
    color : white;
    border-radius: 5px;
    border-width : 0px;
}
